
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .topBaslik {
        margin-top: 300px
    }
</style>
  <div class="container">

        <!-- Page Heading/Breadcrumbs -->
       

        <ol class="breadcrumb" style="margin-top:70px ">
            <li class="breadcrumb-item">
                <a href="Index" class="text-danger">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Hakkımızda</li>
        </ol>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="https://www.nursingtimes.net/pictures/1180xany/6/1/1/3017611_Communication-with-patients-nurse-older.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Ne yapıyoruz?</h2>
                <p>Kana ihtiyacı olanları ve bağışçıları buluşturuyoruz.</p>
            </div>
        </div>
    
    </div>
 










