@model KanBagisiMVC.Kizilay.MvcWebUI.Models.BagisciListViewModel
    @{
        Layout = "~/Views/_Layout.cshtml";
    }
  <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://mancitro.com/uploads/images/unnamed7.jpg');">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Kan Bağışla, Hayat Kurtar</h3>
                        
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://www.marenova.net/Content/files/image/turkkizilay2.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>1 Kan 3 Can</h3>
                        
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492109393/articles/2016/09/06/fda-s-blood-donation-rules-out-trans-people/16905-lang-fda-trans-blood-tease_hq5r3g')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Kahramanlık Senin Kanında Var</h3>
                        
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
 
